*{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.h1{
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
}
.ul1{
    display: flex;
    column-gap: 50px;
    padding-top: 10px;
}
.li1{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: orangered;
}
.logo{
    display: flex;
    font-size: 18px;
    column-gap: 30px;
    margin-right: 150px;
}
.p1{
    color: white;
    padding: 10px 30px 10px 30px;
    background-color: black;
    border-radius: 70px;
    margin-left: 80px;
}
.p1:hover{
    color: red;
}
/* HERO SECTION */
.hero{
    background-image: url(assets/banner-01.jpg);
    width: 100%;
    background-size: cover;
    background-position: fixed;
}
.canada{
    font-size: 20px;
    background-color: white;
    width: 10%;
    padding: 8px 20px 8px 20px;
    margin-bottom: 40px;
}
.spn1{
    color: orangered;
}
.h2{
    font-size: 60px;
    color: white;
}
.toroto{
    padding: 250px  0px 200px 320px;
}
/* FEATURE */
.img1{
    width: 20%;
    height: 500px;
    background-size: cover;
    background-position: fixed;
}
.card1{
    width: 30%;
    height: 300px;
    background-color: aqua;
}
.sea{
    width: 70%;
}
.p3{
    color: orangered;
}
.h3{
    font-size: 40px;
}



/* map */
.map{
    width: 800px;
    height: 400px;
    background: #000;
}
.map2{
    width: 50%;
    height: 500px;
    background-color: aqua;
}


.vidbg{
    background-image: url('assets/video-bg.jpg');
    position: absolute;
    height: 800px;
}
